<p class="message" ng-show="mensagem">{{mensagem}}</p>

<form class="form-inline">
    <div class="form-group">
        <label>Busca</label>
        <input type="text" ng-model="procurar" class="form-control" placeholder="Procurar...">
    </div>
</form>


<div ng-show="autores.length">
    <table>
        <caption>Lista de Autores</caption>
        <thead>
            <tr>
                <th ng-click="ordenar('id')" >Id</th>
                <th ng-click="ordenar('firstName')" >Nome</th>
                <th ng-click="ordenar('lastName')">Sobrenome</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody> 
            <tr dir-paginate="autor in autores | filter:procurar | orderBy:sortKey:reverse  | itemsPerPage:5">
                <td>{{autor.id}}</td>
                <td>
                    <a href="/#/detalhes/{{autor.id}}">{{autor.firstName}}</a>
                </td>
                <td>
                    <a href="/#/detalhes/{{autor.id}}">{{autor.lastName}}</a>
                </td>
                <td>
                    <a href="/#/editar/{{autor.id}}">Editar</a>
                    <a href="/#/remover/{{autor.id}}">Apagar</a>
                </td>
            </tr>
        </tbody>
        
    </table>
    
    
    <dir-pagination-controls max-size="5" boundary-links="true"  ></dir-pagination-controls>
</div>
<div>

        <script src="js/vendor/dirPagination.js"></script>
        <script src="js/vendor/dirPagination.spec.js"></script>
</div>
